
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #070630;
}

::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 10px; 
}
.m-r{
    margin-right: 10px;
}



