@import 'variables';

@mixin contactbtn{
    font-family: $mainfont;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 4px;
}
@mixin defaulttext{
    color: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
@mixin hovertext{
    color: $white;
    position: absolute;
    top: -100%;
    left: 50%;
    
   
}
@mixin defaultbg{
    position: absolute;
    inset: 1px 2px;
    background: $cyan;
    z-index: 3;
}
@mixin boxshadow{
    border-right: 4px solid $white;
    border-bottom: 4px solid $white;
    position: absolute;
    top: 6px;
    left: 6px;
    right: -4px;
    bottom: -4px;
    z-index: 1;
}
@mixin hoverbox{
    border: 1px solid $black;
    background: $black;
    position: absolute;
    inset: 0;
    z-index: 2;
   
}
@mixin dataInputboxStyle {
    border: 2px solid $simpleblack;
    border-radius: 8px;
   padding: 12px 20px;
  
    height: 50px;
   
}