@import 'variables';

@mixin contactbtn{
    font-family: $mainfont;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    height: 40px;
    width: 130px; 
    text-transform: capitalize;
    text-wrap: nowrap;
    //overflow: hidden;
}
@mixin defaulttext{
    color: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
@mixin hovertext{
    color: $white;
    position: absolute;
    top: -100%;
    left: 50%;
    
   
}
@mixin defaultbg{
    position: absolute;
    inset: 1px 2px;
    background: $yellow;
    z-index: 3;
}
@mixin boxshadow{
    border-right: 4px solid $white;
    border-bottom: 4px solid $white;
    position: absolute;
    top: 4px;
    left: 4px;
    right: -4px;
    bottom: -4px;
    z-index: 1;
}
@mixin hoverbox{
    border: 1px solid $black;
    background: $black;
    position: absolute;
    inset: 0;
    z-index: 2;
   
}