$mainfont : "Jost", sans-serif;
$andada : "Andada Pro", serif;
$headerfont:"Jost", sans-serif;
$canela:"Canela";
$textfont : "Poppins", sans-serif;
$lato : "Lato", sans-serif;
$black: #111;
$white: #ffffff;
$cyan: #0ef;
$yellow: #f5ab0c;
$darkbackground: #070630;
$background1: #070630;
$lighbackground:#ffffff;
$lightfontcolor: #ffffff;
$darkfontcolor:#070630;
$highlightfontcolor:#0ef;
$highlightfontcoloryellow: #f5ab0c;
