$mainfont : "Andada Pro", serif;
$headerfont:"Roboto Slab", serif;
$textfont : "Poppins", sans-serif;
$yellow: #f5ab0c;
$black: #111;
$white: #ffffff;
$background1: #070630;
$background2: #060454;
$background3: #111;