@font-face {
    font-family: 'Canela';
    src: url('Canela-Black.woff2') format('woff2'),
        url('Canela-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('Canela-BlackItalic.woff2') format('woff2'),
        url('Canela-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('Canela-Bold.woff2') format('woff2'),
        url('Canela-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('Canela-BoldItalic.woff2') format('woff2'),
        url('Canela-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-BlackItalic.woff2') format('woff2'),
        url('CanelaCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-Black.woff2') format('woff2'),
        url('CanelaCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-Medium.woff2') format('woff2'),
        url('CanelaCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-RegularItalic.woff2') format('woff2'),
        url('CanelaCondensed-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-Regular.woff2') format('woff2'),
        url('CanelaCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-BoldItalic.woff2') format('woff2'),
        url('CanelaCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-LightItalic.woff2') format('woff2'),
        url('CanelaCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-Bold.woff2') format('woff2'),
        url('CanelaCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-MediumItalic.woff2') format('woff2'),
        url('CanelaCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-ThinItalic.woff2') format('woff2'),
        url('CanelaCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-Light.woff2') format('woff2'),
        url('CanelaCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Deck';
    src: url('CanelaDeck-BoldItalic.woff2') format('woff2'),
        url('CanelaDeck-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Deck';
    src: url('CanelaDeck-BlackItalic.woff2') format('woff2'),
        url('CanelaDeck-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Deck';
    src: url('CanelaDeck-Black.woff2') format('woff2'),
        url('CanelaDeck-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Deck';
    src: url('CanelaDeck-LightItalic.woff2') format('woff2'),
        url('CanelaDeck-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Condensed';
    src: url('CanelaCondensed-Thin.woff2') format('woff2'),
        url('CanelaCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela Deck';
    src: url('CanelaDeck-Bold.woff2') format('woff2'),
        url('CanelaDeck-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

