html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.header-and-banner {
  background: #131313;
  height: 100px;
  padding-top: 20px;
}
.header-and-banner header .header-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-and-banner header .header-main-content .logo {
  width: 268px;
}
.header-and-banner header .header-main-content .navbar nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.header-and-banner header .header-main-content .navbar nav ul li:last-child {
  margin-right: 0;
}
.header-and-banner header .header-main-content .navbar nav ul li .navlink {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Andada Pro", serif;
  text-transform: capitalize;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header-and-banner header .header-main-content .navbar nav ul li .navlink:hover {
  color: #f1b22a;
}
.header-and-banner header .header-main-content .navbar nav ul li .navlink:focus {
  color: #f1b22a;
}

.contact-button {
  font-family: "Andada Pro", serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  height: 40px;
  width: 130px;
  text-transform: capitalize;
  text-wrap: nowrap;
  display: block;
  margin-bottom: -15px;
}
.contact-button .default-text {
  color: #131313;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}
.contact-button .hover-text {
  color: #ffffff;
  position: absolute;
  top: -100%;
  left: 50%;
}
.contact-button .default-bg {
  position: absolute;
  inset: 1px 2px;
  background: #f1b22a;
  z-index: 3;
}
.contact-button .box-shadow {
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  position: absolute;
  top: 4px;
  left: 4px;
  right: -4px;
  bottom: -4px;
  z-index: 1;
}
.contact-button .hover-box {
  border: 1px solid #131313;
  background: #131313;
  position: absolute;
  inset: 0;
  z-index: 2;
}