html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.sticky {
  border-bottom-color: #ffffff !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10000000000000000;
  background: #070630;
  border-bottom: 1px solid transparent;
}
.header .header-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  height: 100px;
}
.header .header-main-content .logo {
  width: 160px;
}
.header .header-main-content .navbar {
  padding-top: 0;
}
.header .header-main-content .navbar nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.header .header-main-content .navbar nav ul li:last-child {
  margin-right: 0;
}
.header .header-main-content .navbar nav ul li .navlink {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Andada Pro", serif;
  text-transform: capitalize;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .header-main-content .navbar nav ul li .navlink:hover {
  color: #f5ab0c;
}
.header .header-main-content .navbar nav ul li .navlink:focus {
  color: #f5ab0c;
}
.header .header-main-content .navbar .my-responsive-images-area {
  display: none;
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area img {
  -webkit-transform: translate3d(0px, 0px, 0px) scaleX(-1) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(0px, 0px, 0px) scaleX(-1) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-filter: brightness(100%) saturate(148%);
          filter: brightness(100%) saturate(148%);
  position: absolute;
  bottom: 35px;
  z-index: 1;
  width: 291px;
  left: 30px;
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area .project-complete {
  font-family: "Andada Pro", serif;
  color: #ffffff;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
  padding: 5px;
  text-transform: capitalize;
  position: absolute;
  right: 100px;
  bottom: -57px;
  z-index: 2;
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area .snowfall {
  background: url(../images/whiteball.png);
  background-size: 350px 200px;
  background-repeat: repeat;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  animation: snowfall 5s linear forwards infinite;
  -webkit-animation: snowfall 5s linear forwards infinite;
}
@keyframes snowfall {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: 20px 20px;
  }
  40% {
    background-position: 40px 40px;
  }
  60% {
    background-position: 60px 60px;
  }
  80% {
    background-position: 80px 80px;
  }
  100% {
    background-position: 100px 100px;
  }
}
@-webkit-keyframes snowfall {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: 20px 20px;
  }
  40% {
    background-position: 40px 40px;
  }
  60% {
    background-position: 60px 60px;
  }
  80% {
    background-position: 80px 80px;
  }
  100% {
    background-position: 100px 100px;
  }
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area .snow {
  height: 40px;
  width: 235px;
  background-color: white;
  position: absolute;
  left: 60px;
  top: 315px;
  border-radius: 8px;
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area .bottom {
  background-color: #ca0404;
  height: 70px;
  width: 260px;
  position: absolute;
  top: 100%;
  left: 47px;
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area .bottom .bt1 {
  background-color: #ff1919;
  height: 20px;
  width: 280px;
  position: relative;
  right: 10px;
  border-radius: 10px;
  bottom: 12px;
}
.header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area .bottom .bt2 {
  background-color: #ff1919;
  height: 20px;
  width: 280px;
  position: relative;
  right: 10px;
  border-radius: 10px;
  top: 40px;
}
.header .header-main-content .navbar .toggleclose {
  cursor: pointer;
  color: #070630;
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 30px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}
.header .header-main-content .navbar .toggleclose:hover {
  color: #42e599;
}
.header .header-main-content .navbar .toggleclose .close {
  margin-top: 5px;
  margin-left: 9px;
}
.header .header-main-content .togglebar {
  cursor: pointer;
  color: #070630;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}
.header .header-main-content .togglebar:hover {
  color: #42e599;
}
.header .header-main-content .togglebar .bar {
  margin-top: 5px;
  margin-left: 8px;
}

.header-and-banner {
  background: #070630;
  position: relative;
  overflow: hidden;
}
.header-and-banner .banner-animation-area {
  width: 100%;
  height: 100vh;
}
.header-and-banner .banner-animation-area .banner-animation-main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 100px);
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading {
  overflow-y: hidden;
  height: 50px;
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area span {
  color: #ffffff;
  font-family: "Andada Pro", serif;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0;
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area span:nth-child(1) {
  -webkit-animation: item1 ease 0.5s forwards;
          animation: item1 ease 0.5s forwards;
}
@-webkit-keyframes item1 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes item1 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area span:nth-child(2) {
  -webkit-animation: item2 ease 0.5s forwards;
          animation: item2 ease 0.5s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  color: #f5ab0c;
}
@-webkit-keyframes item2 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes item2 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area span:nth-child(3) {
  -webkit-animation: item3 ease 0.5s forwards;
          animation: item3 ease 0.5s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes item3 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes item3 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area span:nth-child(4) {
  -webkit-animation: item4 ease 0.5s forwards;
          animation: item4 ease 0.5s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@-webkit-keyframes item4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes item4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area span:nth-child(5) {
  -webkit-animation: item5 ease 0.5s forwards;
          animation: item5 ease 0.5s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes item5 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes item5 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .owner-name-area {
  width: 400px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .owner-name-area .owner-name-bg {
  background: #f5ab0c;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.header-and-banner .banner-animation-area .banner-animation-main-area .my-profession-heading .owner-name-area .name {
  color: #ffffff;
  font-family: "Andada Pro", serif;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: -100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.header-and-banner .main-banner-area {
  display: none;
}
.header-and-banner .main-banner-area .main-banner-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.header-and-banner .main-banner-area .main-banner-area .banner-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-and-banner .main-banner-area .main-banner-area .banner-left p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
}
.header-and-banner .main-banner-area .main-banner-area .banner-left h1 {
  margin-top: 10px;
  font-family: "Andada Pro", serif;
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  line-height: 66px;
  text-transform: capitalize;
}
.header-and-banner .main-banner-area .main-banner-area .banner-left a {
  margin-top: 50px;
}
.header-and-banner .main-banner-area .main-banner-area .banner-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area img {
  -webkit-transform: translate3d(0px, 0px, 0px) scaleX(-1) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(0px, 0px, 0px) scaleX(-1) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-filter: brightness(100%) saturate(148%);
          filter: brightness(100%) saturate(148%);
  position: absolute;
  bottom: 35px;
  z-index: 1;
  width: 291px;
  left: 30px;
}
.header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area .project-complete {
  font-family: "Andada Pro", serif;
  color: #ffffff;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
  padding: 5px;
  text-transform: capitalize;
  position: absolute;
  right: 100px;
  bottom: -57px;
  z-index: 2;
}
.header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area .snowfall {
  background: url(../images/whiteball.png);
  background-size: 350px 200px;
  background-repeat: repeat;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  animation: snowfall 5s linear forwards infinite;
  -webkit-animation: snowfall 5s linear forwards infinite;
}
@keyframes snowfall {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: 20px 20px;
  }
  40% {
    background-position: 40px 40px;
  }
  60% {
    background-position: 60px 60px;
  }
  80% {
    background-position: 80px 80px;
  }
  100% {
    background-position: 100px 100px;
  }
}
@-webkit-keyframes snowfall {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: 20px 20px;
  }
  40% {
    background-position: 40px 40px;
  }
  60% {
    background-position: 60px 60px;
  }
  80% {
    background-position: 80px 80px;
  }
  100% {
    background-position: 100px 100px;
  }
}
.header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area .snow {
  height: 40px;
  width: 235px;
  background-color: white;
  position: absolute;
  left: 60px;
  top: 315px;
  border-radius: 8px;
}
.header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area .bottom {
  background-color: #ca0404;
  height: 70px;
  width: 260px;
  position: absolute;
  top: 100%;
  left: 47px;
}
.header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area .bottom .bt1 {
  background-color: #ff1919;
  height: 20px;
  width: 280px;
  position: relative;
  right: 10px;
  border-radius: 10px;
  bottom: 12px;
}
.header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area .bottom .bt2 {
  background-color: #ff1919;
  height: 20px;
  width: 280px;
  position: relative;
  right: 10px;
  border-radius: 10px;
  top: 40px;
}
.header-and-banner .main-banner-area .banner-animation-container {
  display: block;
  position: absolute;
  inset: 0;
  margin: 0 auto;
}
.header-and-banner .main-banner-area .banner-animation-container .lightning-container {
  position: absolute;
  top: 36%;
  left: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header-and-banner .main-banner-area .banner-animation-container .lightning-container .lightning {
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-transform-origin: 6px 6px;
          transform-origin: 6px 6px;
  -webkit-animation-name: woosh;
          animation-name: woosh;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.header-and-banner .main-banner-area .banner-animation-container .lightning-container .lightning.white {
  background-color: white;
  -webkit-box-shadow: 0px 50px 50px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 50px 50px 0px rgba(255, 255, 255, 0.3);
}
.header-and-banner .main-banner-area .banner-animation-container .lightning-container .lightning.red {
  background-color: #fc7171;
  -webkit-box-shadow: 0px 50px 50px 0px rgba(252, 113, 113, 0.3);
          box-shadow: 0px 50px 50px 0px rgba(252, 113, 113, 0.3);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100px;
  left: 6%;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape {
  display: inline-block;
  position: relative;
  opacity: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: -15px;
  border-width: 0 2.5px 5px 2.5px;
  border-color: transparent transparent #42e599 transparent;
  -webkit-animation-name: boom-triangle;
          animation-name: boom-triangle;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.triangle.big {
  margin-left: -25px;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #fade28 transparent;
  -webkit-animation-name: boom-triangle-big;
          animation-name: boom-triangle-big;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.disc {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #d15ff4;
  -webkit-animation-name: boom-disc;
          animation-name: boom-disc;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.circle {
  width: 20px;
  height: 20px;
  -webkit-animation-name: boom-circle;
          animation-name: boom-circle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 100%;
  margin-left: -30px;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.circle.white {
  border: 1px solid white;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.circle.big {
  width: 40px;
  height: 40px;
  margin-left: 0px;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.circle.big.white {
  border: 2px solid white;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape:after {
  background-color: rgba(178, 215, 232, 0.2);
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.triangle, .header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.circle, .header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.circle.big, .header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.disc {
  -webkit-animation-delay: 0.38s;
          animation-delay: 0.38s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container .shape.circle {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container.second {
  left: 94%;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container.second .shape.triangle, .header-and-banner .main-banner-area .banner-animation-container .boom-container.second .shape.circle, .header-and-banner .main-banner-area .banner-animation-container .boom-container.second .shape.circle.big, .header-and-banner .main-banner-area .banner-animation-container .boom-container.second .shape.disc {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
.header-and-banner .main-banner-area .banner-animation-container .boom-container.second .shape.circle {
  -webkit-animation-delay: 2.15s;
          animation-delay: 2.15s;
}
@-webkit-keyframes woosh {
  0% {
    width: 12px;
    -webkit-transform: translate(0px, 0px) rotate(-35deg);
            transform: translate(0px, 0px) rotate(-35deg);
  }
  15% {
    width: 50px;
  }
  30% {
    width: 12px;
    -webkit-transform: translate(214px, -150px) rotate(-35deg);
            transform: translate(214px, -150px) rotate(-35deg);
  }
  30.1% {
    -webkit-transform: translate(214px, -150px) rotate(46deg);
            transform: translate(214px, -150px) rotate(46deg);
  }
  50% {
    width: 110px;
  }
  70% {
    width: 12px;
    -webkit-transform: translate(500px, 150px) rotate(46deg);
            transform: translate(500px, 150px) rotate(46deg);
  }
  70.1% {
    -webkit-transform: translate(500px, 150px) rotate(-37deg);
            transform: translate(500px, 150px) rotate(-37deg);
  }
  85% {
    width: 50px;
  }
  100% {
    width: 12px;
    -webkit-transform: translate(700px, 0) rotate(-37deg);
            transform: translate(700px, 0) rotate(-37deg);
  }
}
@keyframes woosh {
  0% {
    width: 12px;
    -webkit-transform: translate(0px, 0px) rotate(-35deg);
            transform: translate(0px, 0px) rotate(-35deg);
  }
  15% {
    width: 50px;
  }
  30% {
    width: 12px;
    -webkit-transform: translate(214px, -150px) rotate(-35deg);
            transform: translate(214px, -150px) rotate(-35deg);
  }
  30.1% {
    -webkit-transform: translate(214px, -150px) rotate(46deg);
            transform: translate(214px, -150px) rotate(46deg);
  }
  50% {
    width: 110px;
  }
  70% {
    width: 12px;
    -webkit-transform: translate(500px, 150px) rotate(46deg);
            transform: translate(500px, 150px) rotate(46deg);
  }
  70.1% {
    -webkit-transform: translate(500px, 150px) rotate(-37deg);
            transform: translate(500px, 150px) rotate(-37deg);
  }
  85% {
    width: 50px;
  }
  100% {
    width: 12px;
    -webkit-transform: translate(700px, 0) rotate(-37deg);
            transform: translate(700px, 0) rotate(-37deg);
  }
}
@-webkit-keyframes boom-circle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}
@keyframes boom-circle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}
@-webkit-keyframes boom-triangle-big {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(2.5) translate(50px, -50px) rotate(360deg);
            transform: scale(2.5) translate(50px, -50px) rotate(360deg);
  }
}
@keyframes boom-triangle-big {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(2.5) translate(50px, -50px) rotate(360deg);
            transform: scale(2.5) translate(50px, -50px) rotate(360deg);
  }
}
@-webkit-keyframes boom-triangle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(3) translate(20px, 40px) rotate(360deg);
            transform: scale(3) translate(20px, 40px) rotate(360deg);
  }
}
@keyframes boom-triangle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(3) translate(20px, 40px) rotate(360deg);
            transform: scale(3) translate(20px, 40px) rotate(360deg);
  }
}
@-webkit-keyframes boom-disc {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(2) translate(-70px, -30px);
            transform: scale(2) translate(-70px, -30px);
  }
}
@keyframes boom-disc {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(2) translate(-70px, -30px);
            transform: scale(2) translate(-70px, -30px);
  }
}

.about-wrapper {
  padding: 100px 0;
}
.about-wrapper .about-area {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto auto;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.about-wrapper .about-area .images-side .images-main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-wrapper .about-area .images-side .images-main-area .images-item {
  width: 45%;
}
.about-wrapper .about-area .images-side .images-main-area .images-item h1 {
  font-size: 20px;
  color: #111;
  font-family: "Andada Pro", serif;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.about-wrapper .about-area .images-side .images-main-area .images-item .images {
  height: 400px;
  background: #f5ab0c;
  border-radius: 10px;
}
.about-wrapper .about-area .content-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-wrapper .about-area .content-side .about-header {
  overflow: hidden;
}
.about-wrapper .about-area .content-side .about-header h1 {
  font-family: "Andada Pro", serif;
  font-size: 20px;
  color: #070630;
  font-weight: 600;
  text-transform: capitalize;
}
.about-wrapper .about-area .content-side .about-subheader {
  margin-top: 20px;
  overflow: hidden;
}
.about-wrapper .about-area .content-side .about-subheader h2 {
  font-family: "Andada Pro", serif;
  font-size: 30px;
  color: #111;
  font-weight: 600;
}
.about-wrapper .about-area .content-side .about-description {
  margin-top: 60px;
  overflow: hidden;
}
.about-wrapper .about-area .content-side .about-description p {
  color: #7e7e7e;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.about-wrapper .about-area .content-side .about-description p span {
  font-weight: 700;
  color: #f5ab0c;
}
.about-wrapper .about-area .content-side .contact-us-button {
  margin-top: 15px;
}

.ourservice-wrapper {
  background: #070630;
  padding: 100px 0;
}
.ourservice-wrapper .service-header {
  overflow: hidden;
}
.ourservice-wrapper .service-header h1 {
  font-family: "Andada Pro", serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.ourservice-wrapper .service-area-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.ourservice-wrapper .service-area-description .content .content-main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  height: 40px;
  width: 100%;
}
.ourservice-wrapper .service-area-description .content .content-main-area .content-header {
  font-size: 30px;
  color: #ffffff;
  font-family: "Andada Pro", serif;
  font-weight: 600;
}
.ourservice-wrapper .service-area-description .content .content-main-area .content-list {
  background: #d15ff4;
  height: 40px;
  width: 150px;
  position: relative;
  overflow: hidden;
}
.ourservice-wrapper .service-area-description .content .content-main-area .content-list .list-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 40px;
  margin: 0;
  font-size: 30px;
  color: #ffffff;
  font-family: "Andada Pro", serif;
  font-weight: 600;
  display: none;
  text-align: center;
  text-transform: capitalize;
}
.ourservice-wrapper .service-area {
  margin-top: 30px;
  padding: 0 40px;
}
.ourservice-wrapper .service-area .service-list .service-item {
  padding: 10px;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink {
  height: 400px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  -webkit-transition: none;
  transition: none;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  position: relative;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.3) inset, 10px 0 10px -5px rgba(0, 0, 0, 0.3), -10px 0 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.3) inset, 10px 0 10px -5px rgba(0, 0, 0, 0.3), -10px 0 10px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink span {
  width: 50px;
  display: block;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink h1 {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Andada Pro", serif;
  text-align: center;
  text-transform: capitalize;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink p {
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  position: absolute;
  bottom: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  padding: 20px;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink .button-area {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink .button-area button {
  background: #ffffff;
  color: #070630;
  border-radius: 50%;
  padding: 5px 6px;
  font-size: 10px;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink:hover .service-box-content {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  bottom: 100px;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink:hover .gobtn {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #f5ab0c;
  left: 50%;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.ourservice-wrapper .service-area .service-list .service-item .servicelink:hover {
  -webkit-animation: animateBorderTop 0.6s ease forwards, animateBorderRight 0.6s ease forwards 0.2s, animateBorderBottom 0.6s ease forwards 0.4s, animateBorderLeft 0.6s ease forwards 0.6s;
          animation: animateBorderTop 0.6s ease forwards, animateBorderRight 0.6s ease forwards 0.2s, animateBorderBottom 0.6s ease forwards 0.4s, animateBorderLeft 0.6s ease forwards 0.6s;
}
@-webkit-keyframes animateBorderTop {
  0% {
    border-top-color: transparent;
  }
  100% {
    border-top-color: yellow;
  }
}
@keyframes animateBorderTop {
  0% {
    border-top-color: transparent;
  }
  100% {
    border-top-color: yellow;
  }
}
@-webkit-keyframes animateBorderRight {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: yellow;
  }
}
@keyframes animateBorderRight {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: yellow;
  }
}
@-webkit-keyframes animateBorderBottom {
  0% {
    border-bottom-color: transparent;
  }
  100% {
    border-bottom-color: yellow;
  }
}
@keyframes animateBorderBottom {
  0% {
    border-bottom-color: transparent;
  }
  100% {
    border-bottom-color: yellow;
  }
}
@-webkit-keyframes animateBorderLeft {
  0% {
    border-left-color: transparent;
  }
  100% {
    border-left-color: yellow;
  }
}
@keyframes animateBorderLeft {
  0% {
    border-left-color: transparent;
  }
  100% {
    border-left-color: yellow;
  }
}

.ourportfulio-wrapper {
  background: #ffffff;
  padding: 100px 0;
}
.ourportfulio-wrapper .service-header h1 {
  font-family: "Andada Pro", serif;
  font-size: 20px;
  color: #111;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.ourportfulio-wrapper .service-area-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.ourportfulio-wrapper .service-area-description .content .content-main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  height: 40px;
  width: 100%;
}
.ourportfulio-wrapper .service-area-description .content .content-main-area .content-header {
  font-size: 30px;
  color: #111;
  font-family: "Andada Pro", serif;
  font-weight: 600;
}
.ourportfulio-wrapper .service-area-description .content .content-main-area .content-list {
  background: #d15ff4;
  height: 40px;
  width: 150px;
  position: relative;
  overflow: hidden;
}
.ourportfulio-wrapper .service-area-description .content .content-main-area .content-list .list-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 40px;
  margin: 0;
  font-size: 30px;
  color: #ffffff;
  font-family: "Andada Pro", serif;
  font-weight: 600;
  display: none;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
  .header-and-banner .banner-animation-main-area .my-profession-heading {
    height: 100px !important;
  }
  .header-and-banner .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area {
    -webkit-column-gap: 10px !important;
       -moz-column-gap: 10px !important;
            column-gap: 10px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-and-banner .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area span {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 992px) {
  .header .header-main-content .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    background: -webkit-gradient(linear, left top, right bottom, from(#070630), to(#060454));
    background: linear-gradient(to bottom right, #070630 0%, #060454 100%);
    -webkit-box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
    padding: 150px 50px 50px 50px;
    height: 100vh;
    width: 100%;
    z-index: 99999999;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .header-main-content .navbar nav {
    width: 50%;
  }
  .header .header-main-content .navbar nav ul li {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .header .header-main-content .navbar nav ul li:last-child {
    display: none;
  }
  .header .header-main-content .navbar nav ul li a {
    display: block;
    width: 100%;
    background: #f5ab0c;
    color: #111 !important;
    padding: 10px;
  }
  .header .header-main-content .navbar nav ul li a:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    color: #ffffff !important;
  }
  .header .header-main-content .navbar .my-responsive-images-area {
    display: block;
  }
  .header .header-main-content .navbar .my-responsive-images-area .banner-right {
    width: 350px;
  }
  .header .header-main-content .navbar .toggleclose {
    display: block;
  }
  .header .header-main-content .togglebar {
    display: block;
  }
  .about-wrapper .about-area {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .header-and-banner .main-banner-area .main-banner-area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 60px;
  }
  .header-and-banner .main-banner-area .main-banner-area .banner-left {
    width: 100%;
  }
  .header-and-banner .main-banner-area .main-banner-area .banner-right {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .header .header-main-content .navbar nav {
    width: 50%;
  }
  .header .header-main-content .navbar nav ul li {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .header .header-main-content .navbar nav ul li:last-child {
    display: none;
  }
  .header .header-main-content .navbar nav ul li a {
    display: block;
    width: 100%;
    background: #f5ab0c;
    color: #111 !important;
    padding: 10px;
  }
  .header .header-main-content .navbar nav ul li a:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    color: #ffffff !important;
  }
  .header .header-main-content .navbar .my-responsive-images-area {
    display: block;
  }
  .header .header-main-content .navbar .my-responsive-images-area .banner-right {
    display: none;
    width: 300px;
    height: 300px;
  }
  .header .header-main-content .navbar .my-responsive-images-area .banner-right .myimg-area .snowfall {
    background-size: 300px;
  }
  .header .header-main-content .navbar .togglebar {
    display: block;
  }
  .header .header-main-content .navbar .togglebar .close {
    display: block;
  }
  .header .header-main-content .togglebar {
    display: block;
  }
  .header .header-main-content .togglebar .close {
    display: block;
  }
  .header-and-banner .main-banner-area .main-banner-area .banner-left p {
    font-size: 13px;
  }
  .header-and-banner .main-banner-area .main-banner-area .banner-left h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .header-and-banner .main-banner-area .main-banner-area .banner-right .myimg-area .snowfall {
    background-size: 300px;
  }
  .header-and-banner .banner-animation-main-area .my-profession-heading {
    height: 100px !important;
  }
  .header-and-banner .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area {
    -webkit-column-gap: 10px !important;
       -moz-column-gap: 10px !important;
            column-gap: 10px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-and-banner .banner-animation-main-area .my-profession-heading .my-profession-heading-main-area span {
    font-size: 20px !important;
  }
  .header-and-banner .banner-animation-main-area .my-profession-heading .owner-name-area {
    width: 300px !important;
  }
  .header-and-banner .banner-animation-main-area .my-profession-heading .owner-name-area span {
    font-size: 20px !important;
  }
}
.contact-button {
  font-family: "Andada Pro", serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  text-wrap: nowrap;
  overflow: hidden;
  padding: 4px;
  display: block;
  margin-bottom: -18px;
}
.contact-button .contact-mainbtn-area {
  height: 40px;
  width: 130px;
  position: relative;
}
.contact-button .contact-mainbtn-area .default-text {
  color: #111;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}
.contact-button .contact-mainbtn-area .hover-text {
  color: #ffffff;
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate3d(0px, -50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(0px, -50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.contact-button .contact-mainbtn-area .default-bg {
  position: absolute;
  inset: 1px 2px;
  background: #f5ab0c;
  z-index: 3;
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.contact-button .contact-mainbtn-area .box-shadow {
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  position: absolute;
  top: 6px;
  left: 6px;
  right: -4px;
  bottom: -4px;
  z-index: 1;
}
.contact-button .contact-mainbtn-area .hover-box {
  border: 1px solid #111;
  background: #111;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.contact-buttonwhite {
  font-family: "Andada Pro", serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  text-wrap: nowrap;
  overflow: hidden;
  padding: 4px;
  display: block;
  margin-bottom: -18px;
}
.contact-buttonwhite .contact-mainbtn-area {
  height: 40px;
  width: 130px;
  position: relative;
}
.contact-buttonwhite .contact-mainbtn-area .default-text {
  color: #111;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}
.contact-buttonwhite .contact-mainbtn-area .hover-text {
  color: #ffffff;
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate3d(0px, -50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(0px, -50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: #111;
}
.contact-buttonwhite .contact-mainbtn-area .default-bg {
  position: absolute;
  inset: 1px 2px;
  background: #f5ab0c;
  z-index: 3;
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.contact-buttonwhite .contact-mainbtn-area .box-shadow {
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  position: absolute;
  top: 6px;
  left: 6px;
  right: -4px;
  bottom: -4px;
  z-index: 1;
  border-right: 4px solid #111;
  border-bottom: 4px solid #111;
}
.contact-buttonwhite .contact-mainbtn-area .hover-box {
  border: 1px solid #111;
  background: #111;
  position: absolute;
  inset: 0;
  z-index: 2;
  background: #ffffff;
  border: 1px solid #ffffff;
}