@import "../utils/mixins";
@import "../utils/variables";

.chatting-box-area {
    position: fixed;
    bottom: 100px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 9999999999999999999;

    .chatbox-main-area {
        position: relative;

        .chat-bubble {
            position: absolute;
            top: 80px;
            left: 0;
            width: 0px;
            // max-width: 80%;
            height: 0px;
            background-color: rgba(245, 245, 245, 0.9); /* Light gray with slight opacity */
            border: 1px solid #bbb; /* Medium gray border */
            color: #222; /* Dark gray text */
            
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            display: none;
            flex-direction: column;
            cursor: move;
            z-index: 9999999999999999999;
            .box-indicator{
                padding-left: 25px;
                .triangle{
                    width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 20px solid rgba(245, 245, 245, 0.9);
            margin-top: -20px;
                }
            }
            .chat-header {
                padding: 10px;
                background-color: #fff;
                color: $black;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .chat-title {
                    font-size: 16px;
                }

                .close-chat {
                    cursor: pointer;
                }
            }
            .language-change-main-area{
                padding: 20px;
                #google_translate_element{
                    width: 100%;
                    .goog-te-gadget {
                        .goog-te-combo{
                            width: 100%;
                        }
                    }
                }
            }

           
        }

        .chat-icon {
            position: absolute;
            z-index: 9999999999999999999;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            z-index: 9999999999999999999;
            background: rgba(245, 245, 245, 0.9);
            box-shadow: 0 0 10px 2px rgba(0, 238, 255, 0.9);
            padding: 9px;

            img {
                width: 41px;
                position: relative;
                animation: spin 2s infinite linear;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}