@import "../utils/mixins";
@import "../utils/variables";

.overlay {
    background: rgba(0, 0, 0, 0.7);
    filter: blur(20px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    display: none;
}   

.contact-popup-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    //max-height: calc(100vh - 250px); /* Adjust 20px according to your design */
    // overflow: auto; /* Add scrollbars if content exceeds max-height */
    background: #1111;
    z-index: 99999999999;

    .contact-popup-main-area {
     
        padding: 0 20px;
        #loginArea{
            height: 540px;
            display: none;
        }
        #registrationArea{
            height: 820px;
            display: none;
        }
        .contact-details {
            .block {
                position: relative;
                //max-width: 500px;
                width: 100%;
              height: 100%;
                border-radius: 20px;
                background: linear-gradient(0deg, #000, #272727);
                z-index: 2;

                &::after {
                    content: "";
                    position: absolute;
                    left: -2px;
                    top: -2px;
                    border-radius: 20px;
                    background: linear-gradient(45deg,
                            #fb0094,
                            #0000ff,
                            #00ff00,
                            #ffff00,
                            #ff0000,
                            #fb0094,
                            #0000ff,
                            #00ff00,
                            #ffff00,
                            #ff0000);
                    background-size: 400%;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    z-index: 1;
                    animation: steam 20s linear infinite;
                    filter: blur(10px);
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: -2px;
                    top: -2px;
                    border-radius: 20px;
                    background: linear-gradient(45deg,
                            #fb0094,
                            #0000ff,
                            #00ff00,
                            #ffff00,
                            #ff0000,
                            #fb0094,
                            #0000ff,
                            #00ff00,
                            #ffff00,
                            #ff0000);
                    background-size: 400%;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    z-index: 1;
                    animation: steam 20s linear infinite;
                }

                .content-area {
                    position: absolute;
                    background: #111;
                    inset: 2px;
                    z-index: 3;
                    padding: 30px;
                    border-radius: 20px;

                    h1 {
                        color: #fbb800;
                        font-size: 25px;
                        font-family: $mainfont;
                        font-weight: 600;
                        text-transform: capitalize;
                        padding-bottom: 10px;
                    }

                    .information-input-area {
                        margin-top: 20px;

                        .input-item {
                            margin-bottom: 20px;

                            label {
                                color: #0ef;
                                font-size: 17px;
                                font-weight: 400;
                                font-family: $headerfont;
                                text-transform: capitalize;

                            }

                            .input-feild {
                                position: relative;
                                margin-top: 10px;

                                input {

                                    width: 100%;
                                    font-family: $headerfont;
                                    font-size: 15px;
                                    padding: 10px 20px;
                                    border-radius: 7px;
                                    border: 2px solid #0ef;
                                    background: $background1;
                                    color: $white;

                                    &:focus {
                                        box-shadow: 0 0 10px 2px rgba(0, 238, 255, 0.9);
                                        outline: none;
                                    }
                                }

                            }

                            textarea {
                                margin-top: 10px;
                                width: 100%;
                                padding: 10px 20px;
                                border-radius: 7px;
                                border: 2px solid #0ef;
                                background: $background1;
                                color: $white;
                                resize: none;
                                overflow: auto;

                                &:focus {
                                    box-shadow: 0 0 10px 2px rgba(0, 238, 255, 0.9);
                                    outline: none;
                                }
                            }

                        }

                        .input-group {
                            width: 100%;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            z-index: 2;
                            margin-bottom: 40px;

                            @supports (mix-blend-mode: darken) {
                                position: relative;
                                mix-blend-mode: lighten;

                                &__label {
                                    position: absolute;
                                    left: 20px;
                                    top: -10px;
                                    background: #000;
                                }
                            }

                            &__label {
                                padding: 0 0.5em;
                                margin-bottom: 0.5em;
                                color: #0ef;
                                font-size: 17px;
                                font-weight: 400;
                                font-family: $headerfont;
                                text-transform: capitalize;
                                cursor: pointer;
                            }

                            &__input {
                                color: #fff;
                                font-size: 1.25rem;
                                line-height: 1;
                                border-style: none;
                                outline: none;
                                // height calc line-height + (vertical-padding * 2) + (vertical-border * 2)
                                height: calc(1em + 1.6em + 0.5em);
                                width: 100%;
                                padding: 0.8em 1em;
                                border: 2px solid transparent;
                                background-image: linear-gradient($background1, $background1),
                                    linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
                                background-origin: border-box;
                                background-clip: padding-box, border-box;
                                border-radius: 15px;
                                background-size: 200% 100%;
                                transition: background-position 0.4s ease-out;

                                &:hover {
                                    background-position: 100% 0;
                                }

                                &:focus {
                                    //outline: 2px dashed #0ef;
                                    //outline-offset: 0.5em;
                                    box-shadow: 0 0 10px 2px rgba(0, 238, 255, 0.9);
                                }
                            }

                            .look {
                                color: #0ef;
                                font-size: 20px;
                                position: absolute;
                                top: 50%;
                                right: 10px;
                                transform: translateY(-50%);

                                .fa-eye {
                                    display: none;
                                }
                            }
                            #country-code{
                                padding-left: 70px;
                            }
                            .cuntry-code{
                                position: absolute;
                                top: 50%;
                                left: 7px;
                                transform: translateY(-50%);
                                select{
                                    width: 60px;
                                    background: transparent;
                                    color: #0ef;
                                    font-size: 15px;
                                    text-transform: uppercase;
                                    border: none;
                                    font-weight: 600;
                                    font-family: $headerfont;
                                }
                            }
                        }
                    }

                    .contactbtn {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 20px;
                    }

                    h2 {
                        color: #0ef;
                        font-family: $mainfont;
                        font-weight: 500;
                        font-size: 15px;
                        margin-top: 40px;
                        text-align: center;

                        button {
                            color: #ffffff;
                            font-family: $headerfont;
                            font-weight: 700;
                            transition: .5s ease;

                            &:hover {
                                color: #fbb800;
                            }
                        }
                    }
                    h3 {
                        color: #ffffff;
                        font-family: $mainfont;
                        font-weight: 500;
                        font-size: 20px;
                        margin-top: 15px;
                        text-align: center;
                        text-transform: capitalize;
                }

                    .footer-social-icon-area {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 20px;

                        .border {
                            width: 100%;

                        }

                        .social-icon {
                            min-width: 110px;
                            p{
                                color: #0ef;
                                font-size: 20px;
                                font-family: $mainfont;
                                font-style: italic;
                                text-align: center;
                                font-weight: 600;
                                text-transform: capitalize;
                            }
                           
                        }
                    }
                    ul {
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        li {
                            display: inline-block;

                            a {
                                display: block;
                                margin-right: 10px;
                                margin-left: 10px;
                                height: 30px;
                                width: 30px;
                                background: $yellow;
                                color: $background1;
                                border-radius: 50%;
                                font-size: 20px;
                                padding: 4px 0 0 6px;
                                transition: 0.3s ease;

                                &:hover {
                                    transform: scale(1.2);
                                    box-shadow: 0 0 10px 2px rgba(0, 238, 255, 0.9);
                                    color: $black;
                                }

                            }

                            &:nth-child(1) {
                                a {

                                    padding: 4px 0 0 9px;

                                }
                            }
                        }
                    }
                }
            }

            @keyframes steam {
                0% {
                    background-position: 0 0;
                }

                50% {
                    background-position: 400% 0;
                }

                100% {
                    background-position: 0 0;
                }
            }
        }
    }
}