@import "../utils/mixins";
@import "../utils/variables";

.artical-hero {
   
    padding-top: 100px;
    .articleheromainarea{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        row-gap: 20px;
        .articles-card{
            background: $white;
            padding: 14px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
            width: 24%;
            height: 380px;
            
            .inner{
                display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
                .images{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 130px;
                    img{
                        width: 130px;
                    }
                }
                h1{
                    text-transform: capitalize;
                    font-size: 16px ;
                    color: $black;
                    font-family: $mainfont;
                    font-weight: 700;
                }
                p{
                    font-family: $textfont;
                    font-size: 13px;
                    font-weight: 600;
                    color: $darkbackground;
                    text-align: center;
               
                    line-height: 20px;
                }
                button{
                    background: linear-gradient(135deg, #ff4081, #ff80ab);
                    border: none;
                    border-radius: 50px;
                    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
                    color: white;
                    cursor: pointer;
                    font-size: 18px;
                    padding: 15px 30px;
                    position: relative;
                    text-transform: uppercase;
                    transition: all 0.3s ease;
                    z-index: 1;
                    overflow: hidden;
                    font-family: $headerfont;
                    font-size: 16px;
                    font-weight: 600;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 300%;
                        height: 300%;
                        background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
                        transition: all 0.5s ease;
                        border-radius: 50%;
                        z-index: -1;
                        transform: translate(-50%, -50%) scale(0);
                        &:hover{
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                    &:hover{
                        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
                        transform: translateY(-2px);
                    }
                    
                }
            }
          }
    }

}

.articles-body {
    padding: 30px 0;
    overflow: hidden;
    .articles-details{
        main {
            flex: 5 5 200px;
            padding: 20px;
            background: $white;
            padding: 20px;
           
           
            .articles-item {
                h1{
                    font-size: 20px;
                    font-weight: 700;
                    color: $black;
                    font-family: $headerfont;
                    margin-bottom: 30px;
                    text-align: center;
                }
                p {
                    color: $darkfontcolor;
                    font-size: 13px;
                    font-family: $textfont;
                    font-weight: 500;
                    line-height: 21px;
                    margin-bottom: 20px;
                }

                ul {
                    li {
                        list-style-type: decimal;
                        margin-bottom: 15px;
                        color: $darkfontcolor;
                        font-size: 13px;
                        font-family: $textfont;
                        font-weight: 500;
                        line-height: 21px;

                        ul {
                            padding: 20px 0 20px 20px;

                            li {
                                list-style-type: disc;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }


            .frontend-articles{
                display: none;
            }
            .backend-articles {
                display: none;
            }

            .digitalmarketing-articles {
                display: none;
            }

            .uxui-articles {
                display: none;
            }


        }

    }
  
}
@media screen and (max-width: 992px){
    .artical-hero{
        .articleheromainarea{
            flex-wrap: wrap;
            row-gap: 20px;
            .articles-card{
                width: 48%;
            }
        }
    }
}
@media screen and (max-width: 540px){
    .artical-hero{
        .articleheromainarea{
           
            .articles-card{
                width: 100%;
            }
        }
    }
}
